# Byte-compiled / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
.venv/
.env/
.tox/
.pytest_cache/
.mypy_cache/

# OS / editors
.DS_Store
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Env files / secrets
.env
*.env
.env.*>
